<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Investor</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @using Microsoft.AspNetCore.Http
    @inject IHttpContextAccessor HttpContextAccessor
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark box-shadow mb-3 headerFooterColour">
            <div class="container">
                <a class="navbar-brand whiteText" asp-area="" asp-controller="Home" asp-action="Index">Investor</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link whiteText" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link whiteText" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>*@
                    </ul>
                </div>
                <form class="form-inline my-2 my-lg-0">
                    @if (HttpContextAccessor.HttpContext.Session.GetString("Username") != null && HttpContextAccessor.HttpContext.Session.GetString("Username") != "")
                    {
                        <div class="dropdown">
                            <button class="btn btn-inv dropdown-toggle rounded" type="button" id="profileDropdownButton" data-toggle="dropdown">
                                @HttpContextAccessor.HttpContext.Session.GetString("Username")
                            </button>
                            <div class="dropdown-menu" id="profileDropdownMenu">
                                <a class="dropdown-item" onclick="window.location.href='@Url.Action("Index", "Profile")'">Profile</a>
                                <a class="dropdown-item" onclick="window.location.href='@Url.Action("Index", "Home", new { logout = true})'">Logout</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <button class="btn btn-inv my-2 my-sm-0 rounded" type="button" onclick="window.location.href='@Url.Action("Index", "Login")'">Log in / Sign up</button>
                    }
                </form>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   

    @*<footer class="footer text-muted headerFooterColour">
        <div class="container">
            &copy; 2020 - Investor - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
